@page "/about"

<PageTitle>About Us</PageTitle>

<h1>About Us</h1>

<p>
    We create free and open-source games and tools. Our projects support modding and aim to empower developers and players alike.
</p>

<h2>Our Team</h2>
<ul>
    <li>Sebastian Yurchenko – Lead Developer (Python/Odin/C) & Founder</li>
    <li>Everet Morman – Lead Developer (C/C#)</li>
    <li>Everet Bradford – Lead Developer (Python)</li>
</ul>

<h2>Contact</h2>
<p>Take a look at our <a href="https://github.com/HyperSonic-Games">Github</a></p>
